<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="nav">
    <ul class="logo">
        <li class="rect"></li>
        <li class="circle"></li>
        <li class="para">your logo</li>
    </ul>
        
    
    <div class="menu">
        <button class="home" id="menu" >home</button>
        <button class="profile" id="menu" >profile</button>
        <button class="contact" id="menu" >contact</button>
        <button class="blog" id="menu" >blog</button>
      <span> <button class="search" id="menu">search</button><img src="search.jpg" width="30px" height="30px" style="position: relative;top:10px;">
</span>

 </div>
</div>
<div class="layer1">
    <h1>good design is good business</h1>
    <p  class="para" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam blanditiis Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae dicta asperiores repellendus laudantium officiis quia dolor </p>
<button id="learnmore">learn more</button>
</div>
<div class="layer2">
     <div class="img1">
        <img src="lap.jpg" width="100px" height="100px" id="img">
        <h3 class="heading">web design</h3>
        <p class="page">Lorem, ipsum dolor sit amet consectetur </p>
     </div>
     <div class="img2"> <img src="search.jpg" width="100px" height="100px" id="img">
        <h3 class="heading">search</h3>
        <p class="page">Lorem, ipsum dolor sit amet consectetur </p></div>
     <div class="img3">
        <img src="shopping.png" width="100px" height="100px" id="img">
        <h3 class="heading">shopping</h3>
        <p class="page">Lorem, ipsum dolor sit amet consectetur </p>
     </div>
     <div class="img4"> <img src="like.png" width="100px" height="100px" id="img">
        <h3 class="heading">like</h3>
        <p class="page">Lorem, ipsum dolor sit amet consectetur</p></div>

</div>
<div class="layer3">
    <h1 class="heading1">our portfolio awsome</h1>
    <button class="heading2">more works</button>
   <div class="mainbox"> 
    <div class="box11">
    <div class="box1"><img src="camera.png" alt="" id="box-img"></div><h3 id="a">sit amet</h3><p id="a" class="page">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi</p></div>
    <div class="box22">
         <div class="box2"><img src="camera.png" alt="" id="box-img"></div><h3 id="a">sit amet</h3><p id="a" class="page">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi</p></div>
         <div class="box33"><div class="box3"><img src="eye.png" alt="" id="box-img"></div><h3 id="a">sit amet</h3><p id="a" class="page">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, eligendi</p></div>
    </div>
</div>
<div class="layer4">
    <h2 class="heading4" id="bb" >what we offer</h2>
    <p class="para4" id="bb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non possimus quas excepturi quos aperiam fuga maxime magnam fugit corrupti, temporibus, eveniet provident dolor quam alias aut, fugiat quod accusantium dolore?</p>
<div class="mainbox2"> <div class="div1">
        <h3 class="heading4">web desing</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam corrupti</p>
        <button class="details">details</button>
    </div>
     <div class="div1">
        <h3 class="heading4">search optimization</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam corrupti</p>
    </div>
    <div class="div1">
        <h3 class="heading4">online shop</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam corrupti</p>
        <button class="details">details</button>
    </div>
    <div class="div1">
        <h3 class="heading4">social media</h3>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam corrupti</p>
    </div>
</div></div>
<hr>
<div class="layer4">
    <h2 class="heading4" id="bb" >testimolias</h2>
    <p class="para4" id="bb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non possimus quas excepturi quos aperiam fuga maxime magnam fugit corrupti, temporibus, eveniet provident dolor quam alias aut, fugiat quod accusantium dolore?</p>
<h3 id="bb" class="b">jon deo/CEO of company</h3>
<div class="men-women" id="bb">
    <img src="women.png" alt="" id="img">
    <img src="download.jpg" alt="" id="img">
    <img src="women.png" alt="" id="img">
</div>
</div>
<div class="layer5">
    <div class="foot1">
        <h1 class="head">bird feeds</h1>
        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <hr width="200px" align="left">
        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <hr width="200px" align="left">
        <p class="p1">Lorem ipsum dolor <a>sit amet consectetur adipisicing elit</a></p>
       </div>
    <div class="foot2">
        <h1 class="head">newsleeter</h1>
        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <hr width="200px" align="left">
        <input type="text" width="500px" placeholder="enter your email address">
        <button class="details">sign up</button>
    </div>
    <div class="foot3">
        <h1 class="head">contact</h1>
        <div class="phone"><img src="phone.png" alt="" width="20px" height="20px">1-2003343112</div>
        <div class="email"><img src="email.png" alt="" width="20px" height="20px">abc@gamil</div>

    </div>
</div>
</body>
</html>