button:hover{
    padding: 10px;
    border-radius: 10px;
    align-self: center;
    border: 2px dotted black;
    justify-self: center;
    cursor:pointer;
}

body{
    width: 75rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    
}